.footer{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px 3px -2px black;
    background-color: rgb(17, 17, 17);
    color: white;
    height: 10vh;
    width: 100vw;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 10vh;
    font-weight: 500;
    font-size: 15px;
}
